* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}


/*main navbar*/
#logo {
	width: 30px;
}

#nav-top {
	background-color: rgba(68, 50, 102, 0.97);
	width: 100%;
}

nav li[class*=active] {
	border-bottom: 3px solid #9C8AA5;
}

.dropdown-item[class*=active] {
	background-color: #9C8AA5;
	color: black;
}

.dropdown-item:hover {
	background-color: #C3C3E5;
}

/*end main navbar*/




.row {
	width: 100%;
	padding: 0px;
	margin: 0;
}

#container-gall,
#container-contact,
#container-home, 
#container-faq {
	position: relative;
	min-height: 100vh;
	max-width: 100%;
	margin-top: 60px;
}

#container-about {
	position: relative;
	min-height: 100vh;
	max-width: 100%;
}





footer {
	background-color: #421C52;
	color: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 70px;
	padding: 20px;
}








/*landing page*/
#jumbo-land {
	height: 100vh;
	background-color: #333;
	border-radius: 0;
	color: #333;
	background: url(../images/lavender-wood.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
#jumbotron div {
	position: absolute;
	width: 25%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land .container {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5%;
	position: absolute;
	top: 50%;
	left: 78%;
	transform: translate(-50%, -50%);
	width: 30%;
}
/*end landing page*/



/*home page*/
#home-landing {
	background-color: #8C489F;
	background: url(../images/bgwhite.jpg);
	background-size: 100%;
	background-position: bottom;
	color: #333;
	padding: 10%;
	width: 100%;
	margin-top: 0;
}

#sidenav {
	position: sticky;
	top: 80px;
	height: 80vh;
}

#sidenav a {
	color: #333;
	border-radius: 5px;
	border-bottom: 3px solid #9C8AA5;
	display: block;
}

#sidenav a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

#sidenav a[class*=active] {
	border-bottom: 1px solid #9C8AA5;
	background-color: rgba(0, 0, 0, 0.05);
}

[id*=goto] { 
  margin-top: -60px; 
  padding-bottom: 60px;
  display: block;
}

#topic1 {
	height: 50vh;
	background: url(../images/topic1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#topic2 {
	height: 50vh;
	background: url(../images/topic1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;	
}



.card-title{
	background-color: #C3C3E5;
	color: #333;
}

.inside-light {
	background-color: rgba(0, 0, 0, 0.1);
}

.inside-dark {
	background-color: rgba(255, 255, 255, 0.4);
}

#carousel {
	background-color: #C3C3E5;
}

.carousel-item {
	height: 80vh;
	backface-visibility: unset;
}

.carousel-item img {
	height: 70%;
	margin: 0 auto;
}


/*end home page*/











/*contact page*/
iframe {
	width: 100%;
	height: 20vh;
	padding: 5px;
}

.form-control {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 2px solid #8C489F;
	border-radius: 0;
	opacity: 0.8;
}

.form-control:focus {
	border-color: #443266;
	box-shadow: 0 0 5px rgba(68, 50, 102, 1);
	opacity: 1;
}

.form-control::placeholder {
	opacity: 1;
	color: #C3C3E5;
}

.btn-success {
	background-color: #C3C3E5;
}
/*end contact page*/










/*about page*/
#jumbotron-about {
	background: url(../images/pwhite.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
	height: 90vh;
	border-radius: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

#landing-about {
	color: #333;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

#down {
	width: 100%;
	height: 30vh;
	margin: 0 auto;
	color: #333;
}

#missionvision {
	height: 100%;
	background-color: #8C489F;
	color: #F1F0FF;
}

#inspiration {
	height: 100%;
	background-color: #F1F0FF;
	color: #8C489F;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#aboutimage {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #fff;

}
/*end about page*/









/*gallery page*/
#head-gall {
	font-family: 'Comfortaa', sans-serif;
	margin-top: 60px;
	background: inherit;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

div[data-toggle="modal"] {
	width: 100%;
	height: 40vh;
}

div[data-toggle="modal"] > img {
	height: 80%;
}

.last {
	padding-bottom: 70px;
}

#left {
	position: fixed;
	top: 20vh;
	z-index: 1;
}

#right .card {
	background-color: #C3C3E5;
	margin-bottom: 10px;
}

#right .card-title {
	margin-top: 10px;
}
/*end gallery page*/



/*what is page*/

#container-faq .card-header {
	background-color: #C3C3E5;
}

#container-faq .card-body {
	background-color: #F1F0FF;
}




/*end what is page*/







/*dos and donts page*/
.table-green > tbody > tr:nth-child(even) > td {
	background-color: rgb(40, 167, 69, 0.3);
}

.table-green > thead > tr > th {
	background-color: rgb(40, 167, 69, 0.7);
}

.table-red > tbody > tr:nth-child(even) > td{
	background-color: rgb(217, 83, 79, 0.3);
}


.table-red > thead > tr > th {
	background-color: rgb(217, 83, 79, 0.7);
}
/*end dos and donts page*/





/*tablet styles*/
@media only screen and (max-width: 768px) {
	#jumbo-land .container {
		left: 50%;
		width: 70%;
	}

	div[data-toggle="modal"] {
	width: 100%;
	height: 20vh;
	}

}




/*mobile styles*/
@media only screen and (max-width: 425px) {
	#jumbo-land .container {
		left: 50%;
		width: 70%;
	}

	#stages-title {
		font-size: 25px;
	}

	.carousel-item img {
		height: 40%;
		margin: 0 auto;
	}

	.car-body {
		font-size: 13px;
	}

	#topic1,
	#topic2 {
		height: 50vh;
	}

	#head-faq > h1 {
		font-size: 300%;
	}

	div[data-toggle="modal"] {
		height: 50vh;
	}

	footer {
		height: 160px;
	}

	.last {
		padding-bottom: 160px;
	}

	#container-gall,
	#container-contact,
	#container-home, 
	#container-faq {
		margin-top: 60px;
	}

	#landing-about {
		font-size: 60px;
	}

	iframe {
		height: auto;
	}

	div[data-toggle="modal"] {
	width: 100%;
	height: 30vh;
	}

	#head-gall > h1 {
		font-size: 30px;
	}

	#sem,
	#ru {
		font-size: 25px;
		text-align: center;
	}
}




