* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	overflow-x: hidden;
}

#body-home {
	position: relative;
}

#nav-top {
	background-color: rgba(68, 28, 82, 0.97);
}

nav li[class*=active] {
	border-bottom: 3px solid #9C8AA5;
}

#carousel-row {
	width: 100%;
}

footer,
footer div {
	background-color: #421C52;
	color: white;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 70px;
}

#container-gall,
#container-about,
#container-contact,
#container-home {
	position: relative;
	min-height: 100vh;
	max-width: 100%;
}

#topic1 {
	height: 50vh;
	background: url(../images/topic1.jpg);
	background-attachment: fixed;
	background-size: cover;
}

#topic2 {
	height: 50vh;
	background: url(../images/topic2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

/*landing page*/
#jumbotron {
	background: url(../images/bg.png);
	background-size: cover;
	height: 100vh;
	position: relative;
}

#jumbotron div {
	position: absolute;
	width: 25%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	height: 100vh;
	background-color: #333;
	border-radius: 0;
	color: #333;
	background: url(../images/land.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

#jumbo-land .container {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5%;
	position: absolute;
	top: 50%;
	left: 78%;
	transform: translate(-50%, -50%);
	width: 30%;
}

/*home page*/
#home-landing {
	background-color: #8C489F;
	color: #fff;
	padding: 10%;
}

#home-content {
	margin-right: 0;
}

#sidenav {
	position: sticky;
	top: 20%;
}

#card1 .card-title,
#card2 .card-title {
	background-color: #C3C3E5;
	color: #333;
}

.inside-light {
	background-color: rgba(0, 0, 0, 0.2);
}

.inside-dark {
	background-color: rgba(255, 255, 255, 0.4);
}

#carousel {
	background-color: #C3C3E5;
}

.carousel-item {
	width: 100%;
	height: 80vh;
}

.carousel-item img {
	height: 70%;
	margin: 0 auto;
}

.carousel-indicators li {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: #333;
}


/*contact page*/
iframe {
	width: 100%;
	height: 100%;
	padding: 5px;
	overflow: hidden;
}

/*about page*/
#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

#down {
	width: 100%;
	height: 30vh;
	margin: 0 auto;
	color: #f2f2f2;
}

#mission {
	height: 100%;
	background-color: #F1F0FF;
	color: #8C489F;
}

#vision {
	height: 100%;
	background-color: #8C489F;
	color: #F1F0FF;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}





/*gallery page*/
#head-gall {
	font-family: 'Montserrat', sans-serif;
	margin-top: 60px;
	background-color: #141414;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

div[data-toggle="modal"] {
	width: 100%;
	height: 50vh;
}

div[data-toggle="modal"] > img {
	height: 80%;
}

.last {
	padding-bottom: 70px;
}



/*desktop styles*/
@media only screen and (max-width: 540px) {
	#jumbo-land .container {
		left: 50%;
		width: 70%;
	}

	#head-gall > h1 {
		font-size: 400%;
	}

	div[data-toggle="modal"] {
		height: 50vh;
	}

	footer {
		height: 150px;
	}

	.last {
		padding-bottom: 150px;
	}


}

/*desktop styles*/
@media only screen and (max-width: 1024px) {
	#jumbo-land .container {
		left: 50%;
		width: 70%;
	}

}